{% extends 'paginas/modelo.html' %}
{% load static %}


{% block titulo %}
    <title>Pagina Inicial :: vaga</title>
{% endblock %}

{%  block main %}
<section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Seja bem-vindo ao site  nacional de vagas!</h1>
          <h2>Cadastre-se agora mesmo para começar a usar todas nossas funcionalidades</h2>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img"  data-aos-delay="200">
          <img src="../../../static/img/future_work.jpg" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section>
{%  endblock %}