{% extends 'paginas/modelo.html' %}

{% block titulo %}
    <title>Sobre :: vagas</title>
{% endblock %}


{% block conteudo %}
    <h1>Algumas funcionalidades do nosso site...</h1>
    <p>
        O Site vagas, é composto por um CRUD de funcionalidades correlacionadas ao gerenciamento de um sistema de vagas (básico):

    </p>

    <li>Manter Vagas</li>
    <li>Manter Candidato</li>
    <li>Manter Empresa</li>
    <li>Visualização de Candidatos por vaga</li><br>

    <p> Algumas funcionalides que serão implementadas futuramente: <br></p>
    <p>

    <li>Visualização em relatório</li>
    <li>Implementação de seleção inteligente</li>

    </p>

{% endblock %}