{% extends 'paginas/modelo.html' %}

{% block titulo %}
    <title>Sobre :: vagas</title>
{% endblock %}


{% block conteudo %}
    <h1>Sobre o Sistema de Vagas...</h1>
    <p>
        Esse site foi desenvolvido para aplicação das tecnologias web
        Nele estão algumas visualizações do processo de CRUD (Create, Read, Update and Delete)

        Foram utilizadas as tecnologias:

    </p>

    <li>Django 3.1+</li>
    <li>HTML5</li>
    <li>Boostrap4</li>
    <li>FontAwesome</li>
    <li>GitHub</li><br>

    <p> Você pode encontrar um pouco mais sobre mim, nos canais abaixo:<br></p>

    <a href="https://github.com/lhggomes">Github</a><br>
    <a href="https://www.linkedin.com/in/lucas-gomes-161524166/">Linkedln</a><br>
    <a><strong>WhatsApp: </strong>+55 31 9.9470.7001</a><br>
    <a><strong>Email: </strong>lucas.henrique.s.go@gmail.com</a><br><br>

    <p>
    Muito obrigado pela atenção ;)
    </p>

{% endblock %}